<main class="min-h-screen">
  <h1 class="text-4xl text-center">Aprendiendo a usar Tailwind</h1>
  <div class="bg-gradient-to-br from-slate-500 to-green-300">
    <h2 class="text-center text-2xl">Aqui podremos apreciar la facilidad y la cantidad de elementos que tiene TailwindCSS</h2 class="text-center text-xl">
    <div class="flex justify-center gap-4 h-80 items-center">
      <p class="text-4xl">Tailwind</p>
      <p class="text-8xl">></p>
      <p class="text-4xl">Bootstrap</p>
    </div>
  </div>
</main>